.sexshop-view-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(217deg, #d31644, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, #fcb7c8, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #6c3483, rgba(0, 0, 255, 0) 70.71%);
  padding: 20px;
}

.sexshop-view-container h3 {
  width: 50%;
  text-align: center;
  margin-top: 30px;
}


