.contact-view-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(217deg, #ebdef0, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, #a569bd, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #6c3483, rgba(0, 0, 255, 0) 70.71%);
  padding: 20px;
}

.contact-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-container h3 {
  width: 50%;
  margin-top: 30px;
}

.contact-view-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.contact-view-buttons i {
  font-size: 35px;
  color: #333;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-view-buttons i:hover {
  color: #007bff;
  transform: scale(1.1);
}

/* Responsividad */
@media (max-width: 768px) {
  .contact-view-buttons {
    gap: 30px;
  }

  .contact-view-buttons i {
    font-size: 28px;
  }
}
